/* line 1, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
html, body {
  height: 100%; }

/* line 8, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1.1em; }

/* line 14, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
#page {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #FEFEFE;
  min-height: 100%; }

/* line 21, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
a, a:visited, a:link {
  text-decoration: none;
  color: #333; }

/* line 25, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
a:hover {
  text-decoration: underline; }

/* line 27, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
h1 {
  font-family: serif;
  text-align: center;
  font-size: 8em;
  color: #408FC7;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

/* line 39, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
h2 {
  font-weight: bold;
  font-size: 0.8em; }

@media (min-width: 600px) {
  /* line 46, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .large-screen {
    display: inherit; }

  /* line 47, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .small-screen {
    display: none; }

  /* line 49, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  #page {
    max-width: 960px; }
 }

@media (max-width: 600px) {
  /* line 53, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .large-screen {
    display: none; }

  /* line 54, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .small-screen {
    display: inherit; }

  /* line 56, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  #page {
    max-width: 95%; }
 }

/* line 59, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
.contact {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 2em; }
  /* line 65, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .contact ul > li {
    display: inline;
    padding-left: 0.7em;
    white-space: nowrap;
    line-height: 1.5em; }
  /* line 71, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .contact i {
    margin-right: 0.6em; }

/* line 74, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
.caption {
  clear: right;
  border-top: 1px dotted #DDD;
  border-bottom: 1px dotted #DDD;
  padding: 0.7em 0 0.7em 0;
  text-align: center;
  margin-bottom: 2em; }

/* line 85, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
.box {
  margin-bottom: 1em; }
  /* line 91, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .box .title {
    font: 'Arial';
    font-weight: bold;
    padding: 0.8em 0 0.8em 0.5em;
    font-size: 0.8em;
    color: #FFF;
    background-color: #408FC7;
    margin-bottom: 0.5em; }
  /* line 101, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .box .content {
    padding: 0.2em; }
  /* line 105, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  .box h2 {
    margin-bottom: 0.8em;
    font-size: 0.8em;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em; }

/* line 113, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
#skills .content {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap; }
  /* line 118, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  #skills .content div {
    margin: 0 1em 1em 0;
    flex-grow: 1; }
  /* line 123, /Users/jameshulse/Code/PersonalSite/sass/layout.scss */
  #skills .content div:last-child {
    margin-right: 0; }

/*# sourceMappingURL=layout.css.map */