html, body {
    height: 100%;
}

$font-color: #333;
$highlight-color: #408FC7; // #2E8AF2;

body {
    font-family: 'Open Sans', sans-serif;;
    color: $font-color;
    font-size: 1.1em;
}

#page {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #FEFEFE;
    min-height: 100%;
}

a, a:visited, a:link {
    text-decoration: none;
    color: $font-color;
}
a:hover { text-decoration: underline; }

h1 {
    font-family: serif;
    text-align: center;
    font-size: 8em;
    color: $highlight-color;
    text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

h2 {
    font-weight: bold;
    font-size: 0.8em;
}

// Toggle the headers when on smaller screens
@media(min-width: 600px) {
    .large-screen { display: inherit; }
    .small-screen { display: none; }
    
    #page { max-width: 960px; }
}

@media(max-width: 600px) {
    .large-screen { display: none; }
    .small-screen { display: inherit; }
    
    #page { max-width: 95%; }
}

p { text-align: justify; }

.contact {
    //float: right;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 2em;
    
    ul > li {
        display: inline;
        padding-left: 0.7em;
        white-space: nowrap;
        line-height: 1.5em;
    }
    i { margin-right: 0.6em; }
}

.caption {
    clear: right;
    border-top: 1px dotted #DDD;
    border-bottom: 1px dotted #DDD;
    
    padding: 0.7em 0 0.7em 0;
    text-align: center;
    
    margin-bottom: 2em;
}

.box {
    //border: 1px solid #333; // #EBEBEB;
    //box-shadow: 1px 1px 3px 1px #ECECEC;
    
    margin-bottom: 1em;
    
    .title {
        font: 'Arial';
        font-weight: bold;
        padding: 0.8em 0 0.8em 0.5em;
        font-size: 0.8em;
        color: #FFF;
        background-color: $highlight-color;
        margin-bottom: 0.5em;
    }
    
    .content {
        padding: 0.2em;
    }
    
    h2 {
        margin-bottom: 0.8em;
        font-size: 0.8em;
        border-bottom: 1px solid black;
        padding-bottom: 0.5em;
    }
}

#skills .content {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    
    div {
        margin: 0 1em 1em 0;
        flex-grow: 1;
    }
    
    div:last-child { margin-right: 0; }
}