html, body {
    height: 100%;
}

body {
    //background-image: url('../img/swirl_pattern.png');
    font-family: 'Segoe UI', Arial, freesans, sans-serif;
    color: #333;
}

#container {
    //text-align: center;
    box-sizing: border-box;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
    background-color: #FEFEFE;
    min-height: 100%;
    box-shadow: 2px 3px 20px 3px #EBEBEB;
}

h1 {
    text-align: center;
    font-size: 8em;
    color: #000;
    margin-bottom: 0.2em;
}

.caption {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    
    padding: 1em 0 1em 0;
    text-align: center;
    
    margin-bottom: 2em;
}

#box-container {
    display: flex;
    justify-content: space-around;
}

.box {
    min-width: 10em;
    border: 1px solid #EBEBEB;
    padding: 1em;
    
    h2 {
        font-weight: bold;
        margin-bottom: 0.3em;
    }
}